body {font-family: 'Libre Baskerville', serif;}
a {color: inherit;}

h1.logo {background: url(../img/logo.png) no-repeat center; width: 100%; height: 95px; text-indent: -9999px; background-size: 150px}

/* bordas */
.border-right {border-right: 1px solid #ccc;}
.border-left {border-left: 1px solid #ccc;}
hr {border: 0; border-top: 1px solid #ccc;}

/* Menu */
nav ul {padding-left: 0; max-width: 760px; margin: 38px auto 0; width: 100%;}
nav ul li {list-style: none; display: inline-block; padding: 0 12px; }
nav ul li a {color: #000; font-weight: 600; font-family: 'Roboto', sans-serif; font-size: 16px; text-transform: uppercase;}
nav ul li a:hover {color: #157094;}

/* footer */
footer {background: #157094; padding: 20px 0; margin-top: 20px;}
.right {color: #fff; font-family: 'Roboto', sans-serif; margin-bottom: 0; }